<h2 class="title">Matrimony & Professional Events</h2>

<div *ngIf="events.length === 0" class="empty">No events available</div>

<div class="event-card" *ngFor="let event of events">
  <h3>{{ event.name }}</h3>

  <p><b>Category:</b> {{ event.category }}</p>
  <p><b>Venue:</b> {{ event.venue }}</p>
  <p><b>Date:</b> {{ event.date_time | date : "medium" }}</p>
  <p><b>Total Seats:</b> {{ event.capacity }}</p>

  <button (click)="book(event)" [disabled]="event.booked">
    {{ event.booked ? "Booked" : "Book Now" }}
  </button>
</div>
